.main-perfil{
    margin: 20px 40px !important;
    background-color: #202020;
    height: 250px;
    border-radius: 10px;
    /* display: none !important; */
}

#perfil-image{
    width: 150px;
    border-radius: 50%;
}

#name{
    text-align: left;
}

.user-top h2, .user-top button{
    margin: 10px;
}
.user-top, .user-bottom{
    width: 100%;
    margin: 12px 5px 12px 5px;
    height: 100px;
}
.user-bottom p{
    margin-left: 12px;
}

.info-opt{
    margin: 0;
    list-style: none;
    width: 100%;
}
.info-opt li{
    background-color: #05678e;
    width: 100%;
}

.instagram-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 8px 16px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #262626;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .instagram-button:hover {
    background-color: #dbd7d7;
    }
  
  .instagram-button .icon {
    width: 16px;
    height: 16px;
    background-image: url('instagram-icon.png');
    background-size: cover;
    margin-right: 8px;
  }
  
  .instagram-button .texto {
    font-weight: 600;
  }
/*<<<<<<<<<<<<<< MOBILE STYLE >>>>>>>>>>>>>>>*/
@media screen and (max-width: 850px){
    .instagram-button{
        padding: 4px 8px;
    }
}

.user-top svg{
    cursor: pointer;
    z-index: 2;
}

#res{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    background-color: #202020;
    border-radius: 10px;
    color: #fff;
    width: 90%;
}

#res div{
    border: 1px solid #fff;
    margin: 10px;
    padding: 10px;
}
