.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid #fff; */
}

#res{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #202020;
    border-radius: 10px;
    color: #fff;
    margin: 30px;
}

#res div{
    margin: 10px;
    padding: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.label{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.linha{
    width: 50%;
    background-color: var(--red);
    height: 3px;
    border-radius: 5px;
}

.liked{
    display: none;
    /* border: 1px solid #fff; */
    margin: 20px;
}

.user-info{
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px 30px;
}

.user-info img{
    width: 150px;
    margin: 0px 0px 10px 0px;
}