#res{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    background-color: #202020;
    border-radius: 10px;
    color: #fff;
    width: 85%;
    margin: 30px;
}

#username{
    margin: 30px;
}

#res div{
    /* border: 2px solid var(--red); */
    margin: 10px;
    padding: 10px;
}

.label{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.linha{
    width: 50%;
    background-color: var(--red);
    height: 3px;
    border-radius: 5px;
}

.liked{
    display: none;
}