@keyframes opening {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleLogo {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes switch {
    0% {
        background-image: url('../images/bg1.png')
    }

    50% {
        background-image: url('../images/bg2.png')
    }

    100% {
        background-image: url('../images/bg3.png')
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float-in {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(5deg)
    }

    40% {
        transform: rotate(10deg)
    }

    60% {
        transform: rotate(5deg)
    }

    80% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(-5deg)
    }
}


@keyframes escrever {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes piscar-cursor {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #e6051f;
    }
}

@keyframes emerge {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes emergeLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}


@keyframes disapear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0 !important;
    }
}