@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  transition: 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #101010 !important;
  color: #fff !important;
  overflow-x: hidden !important;
}


::-webkit-scrollbar-track {
  background-color: #252525;
}

::-webkit-scrollbar {
  width: 10px;
  background: #252525;
}

::-webkit-scrollbar-thumb {
  background: #810d1b;
  border-radius: 5px;
}


.invisible {
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@keyframes opening {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleLogo {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#page {
  opacity: 0;
}

.loaded-page {
  opacity: 1 !important;
}

.animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 700px;
  opacity: 0;
}

.play-animation {
  animation: float-in 3s ease-in-out;
}

.play-animation2 {
  animation: fadeInUp 2.5s linear;
}

.animation h2 {
  font-size: 2.4rem;
  overflow: hidden;
  /* Esconde o texto até que seja revelado pela animação */
  white-space: nowrap;
  /* Impede que o texto envolva para a próxima linha */
  margin: 0;
  /* Remove a margem padrão do elemento */
  letter-spacing: .15em;
  /* Define o espaçamento entre as letras */
  font-size: 2.3rem;
  /* Define o tamanho da fonte do texto */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  height: 75px;
  width: 100%;
  background-color: #252525;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  height: 100%;
}

@media only screen and (min-width: 1080px){
  .container-logo{
    flex: 3;
    justify-content: flex-start !important;
    margin-left: 20px;
  }
  .container-perfil{
    flex: 1;
  }
}

.logo {
  width: 65px;
}

.container-links,
.container-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links ul a {
  text-decoration: none;
  color: #ffffff;
}

.nav-links ul li {
  margin: 10px 30px 0px 30px;
}

.current {
  border-bottom: 2px solid #e6051f;
}

.nav-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #e6051f;
  transition: width .3s;
}

.current:hover::after {
  width: 0 !important;
}

.nav-links a:hover::after {
  width: 100%;
}

.burger,
.line {
  display: none;
}

.burger {
  width: 35px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.line {
  background-color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  margin-top: 7px;
}

/*<<<<<<<<<<<<<< MOBILE STYLE >>>>>>>>>>>>>>>*/
@media screen and (max-width: 1080px) {
  .nav-links li {
    display: none;
  }

  .logo {
    width: 50px;
    margin-left: 30px;
  }

  .container-logo {
    margin-left: -40px;
  }

  .burger,
  .line {
    display: block;
  }

  .container-perfil {
    margin-left: 10px;
    margin-right: -20px;
  }

  .text {
    margin: 20px;
    width: 450px;
  }
  .text h1{
    width: min-content !important;
  }

  .separatorX {
    display: none;
  }

  .animation h2 {
    font-size: 1.5rem;
  }

  .text h1 {
    font-size: 2rem !important;
  }

  span {
    font-size: 1rem;
  }

  .search-bar {
    margin: 0 !important;
  }

  .search-inputs {
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
  }
}

#movie-list,
#movie-search {
  margin: 0 !important;
}

#burger-menu.open div:first-child {
  transform: translateY(10px) rotate(45deg);
}

#burger-menu.open div:nth-child(2) {
  opacity: 0;
}

#burger-menu.open div:last-child {
  transform: translateY(-10px) rotate(-45deg);
}

.menu-hide {
  display: none;
}

.menu-hide.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 150px;
  height: 270px;
  right: 0;
  background-color: #252525;
  margin-top: 345px;
  z-index: 90;
  animation: surgirC 0.5s ease forwards;
}

.menu-hide ul {
  list-style: none;
}

.menu-hide li {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 90px;
}

.menu-hide a {
  text-decoration: none;
  color: #fff;
}

.menu-hide a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #e6051f;
  transition: width .3s;
}

.menu-hide li a:hover::after {
  width: 100%;
}

.perfil {
  width: 100% !important;
  height: 100% !important;
}

.container-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  width: 125px;
}

.icon-perfil {
  background-color: #e6c405;
  border: 3px solid #fff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 0px;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 80px;
}

.menu-perfil {
  background-color: #252525;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  opacity: 0;
}

.menu-perfil a {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-perfil a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #e6051f;
  transition: width .3s;
}

.menu-perfil a:hover::after {
  width: 100%;
}

.main-movies {
  width: 100%;
  background-color: #151515;
  height: 450px;
  background: url('../images/bg1.png') no-repeat center center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: left;
  position: relative;
  animation: switch 10s alternate-reverse infinite;
  animation-delay: 7s;
}


@keyframes switch {
  0% {
    background-image: url('../images/bg1.png')
  }

  50% {
    background-image: url('../images/bg2.png')
  }

  100% {
    background-image: url('../images/bg3.png')
  }
}


@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(5deg)
  }

  40% {
    transform: rotate(10deg)
  }

  60% {
    transform: rotate(5deg)
  }

  80% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(-5deg)
  }
}

.logo:hover {
  animation: shake 0.2s linear alternate;
}

.text {
  width: 600px;
  height: auto;
  text-shadow: 3px 3px 2px #25252599;
  margin: 30px;
}

.text h1,
.text h2,
.text p {
  font-weight: normal;
}

.text h1 {
  font-size: 2.4rem;
  overflow: hidden;
  /* Esconde o texto até que seja revelado pela animação */
  border-right: .12em solid #e6051f;
  /* Adiciona um cursor de escrita ao lado direito do texto */
  margin: 0;
  white-space: nowrap;
  /* Impede que o texto envolva para a próxima linha */
  letter-spacing: .15em;
  /* Define o espaçamento entre as letras */
  font-size: 2.3rem;
  /* Define o tamanho da fonte do texto */
  animation:
    escrever 3s steps(40, end),
    piscar-cursor .75s step-end infinite;
}


.text h2 {
  text-indent: 3px;
  margin-top: 10px;
  opacity: 0;
  /* Inicialmente, o texto é invisível */
  animation: surgir 1.5s ease forwards;
  /* Aplica a animação chamada "surgir" ao texto */
  /* animation-delay: 4.5s; */
  font-size: 1.5rem;
  letter-spacing: 3px;
}

.text p {
  margin-top: 20px;
}

.separatorX {
  width: 500px;
}

@keyframes escrever {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes piscar-cursor {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #e6051f;
  }
}

@keyframes surgir {
  from {
    opacity: 0;
    /* Começa com uma opacidade de 0 */
    transform: translateY(50px);
    /* Começa 50px abaixo da posição original */
  }

  to {
    opacity: 1;
    /* Termina com uma opacidade de 1 */
    transform: translateY(0px);
    /* Termina na posição original, sem deslocamento vertical */
  }

}

@keyframes surgirC {
  from {
    opacity: 0;
    /* Começa com uma opacidade de 0 */
    transform: translateX(50px);
    /* Começa 50px acima da posição original */
  }

  to {
    opacity: 1;
    /* Termina com uma opacidade de 1 */
    transform: translateX(0px);
    /* Termina na posição original, sem deslocamento vertical */
  }

}

@keyframes surgirB {
  from {
    opacity: 0;
    /* Começa com uma opacidade de 0 */
    transform: translateX(-50px);
    /* Começa 50px acima da posição original */
  }

  to {
    opacity: 1;
    /* Termina com uma opacidade de 1 */
    transform: translateX(0px);
    /* Termina na posição original, sem deslocamento vertical */
  }

}

#textlogo span {
  display: inline-block;
  font-size: 1.4rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 20px;
  background-color: #252525 !important;
  color: #fff !important;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  height: 400px !important;
  animation: surgirB 0.3s linear;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-rating {
  font-size: 14px;
  color: #c4c3c3;
}

@media screen and (max-width: 850px) {
  .text h1 {
    font-size: 1.9rem;
  }
  .text{
    width: 80% !important;
  }

  .card {
    width: 50% !important;
  }
  .search-bar {
    flex-direction: column;
  }
}

@media only screen and (max-width: 540px){
  .text h1{
    font-size: calc(1.3rem + .9vw) !important;
  }
  .text h2{
    font-size: calc(1.2rem + .9vw) !important;
  }
  .text{
    margin: 10px !important;
  }
  .logo img{
    margin-left: 10px;
  }
  #destaque{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90% !important;
  }
}

.logged {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.search-bar {
  display: flex;
  align-items: center;
  margin: 20px auto;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .search-bar {
    margin-bottom: 50px !important;
  }
}

.search-bar input {
  height: 45px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: 0px;
  width: 80%;
}

.search-inputs {
  width: 500px;
}

.search-bar button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
  height: 45px;
  width: 50px;
}

.search-bar button:hover {
  background-color: #c5c4c4;
}

.search-bar svg {
  width: 20px;
  height: 20px;
  fill: #202020;
  margin-bottom: 3px;
}

.linha {
  background-color: #e6051f;
  width: 100%;
  height: 2px;
}

footer {
  width: 100%;
  background-color: #252525;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin: 7px 7px 7px 0px;
}

footer .center {
  align-items: start !important;
}

footer a:hover {
  opacity: 0.8;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title svg {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 5px;
  position: absolute;
  right: 10px;
}