.genre-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 20px 0px 20px;
}

.genre, .age{
    height: max-content !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: 3px solid #101010;
    margin: 10px 20px 10px 20px;
    width: 15%;
}

@media screen and (max-width: 850px){
    .genre,.age{
        margin: 0;
    }
}
@media screen and (min-width: 850px){
    .line-text{
        width: 50% !important;
    }
}
.selected{
    border-color: #e6051f !important;
}
/* 
.genre-list .selected:nth-child(2) svg{
    fill: #f376de;
} */

.genre svg{
    margin: 30px;
}
.genre h2{
    font-size: 20px;
}

.genre:hover{
    background-color: #202020 !important;
}
.btn-next{
    cursor: pointer;
    width: 150px;
    height: 56px;
    padding: 0 16px;
    border-radius: 0.5rem;
    background: #e6051f;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
    margin-top: 20px;
}

@keyframes disapear {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0 !important;
    }
}

.hidden{
    animation: disapear 0.3s linear;
    opacity: 0;
}

.age{
    font-size: 26px;
    padding: 50px 0px 50px 0px;
}
.titles{
    padding-top: 10px;
    height: max-content !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: 3px solid #101010;
    margin: 10px 20px 10px 20px;
    width: 20%;
}

.titles h2{
    font-size: 18px;
}
.match-btn{
    cursor: pointer;
    width: 200px;
    height: 56px;
    padding: 0 16px;
    border-radius: 0.5rem;
    background: #e6051f;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}
.match-btn:hover{
    background-color: #960b1b;
}
